// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #92c590;

body {
	background: image-url('bg.png');
	font: 12px/1.2 sans-serif;
}

.header {
	width: 500px;
	margin: 50px auto;
	text-align: center;

	h1 {
		font-size: 40px;
		color: $green;
		text-shadow: -3px 0 4px;
	}
}

.content {
	margin: 0 auto;
	padding: 10px;
	width: 500px;
	background: #fff;
}
