body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// MY STUFF
$green: #92c590;

body {
  background: image-url('bg.png');
  font: 12px/1.2 sans-serif;
}

.header {
  width: 500px;
  margin: 50px auto;
  text-align: center;

  h1 a {
    font-size: 40px;
    color: $green;
    text-shadow: -3px 0 4px;
    text-decoration: none;

    &:hover {
      background: none;
      color: lighten( $green, 10% );
    }
  }
}

.content {
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  background: #fff;
}


nav li {
  list-style: none;
  display: inline;
}

nav li:after {
  content: '/'
}

nav li:last-child:after {
  content: none
}
